@model PagedList.IPagedList<Websitebanhang.Models.VatTu>
    @using PagedList.Mvc;
@{
    ViewBag.Title = "PageList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách vật tư</h2>
<table class="table">
    <tr>
        <th>
            id
        </th>
        <th>
            Tên Vật Tư
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenVatTu)
            </td>
        </tr>
    }
</table>
<br />
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
@Html.PagedListPager(Model,page=> Url.Action("PageList","Home", new { page}))
