
@{
    ViewBag.Title = "Home Page";
}
<div class="content_top">
    <div class="heading">
        <h3>Cát Xây Dựng</h3>
    </div>

    <div class="clear"></div>
</div>
<div class="section group">
    <div class="grid_1_of_4 /Assets/Client/images_1_of_4">
        <a href="/Assets/Client/preview.html"><img src="/Assets/Client/images/catsanlapmatbang1.jpg" alt="" /></a>
        <h2>Cát san lấp mặt bằng </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">65000 đ/m3</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/Assets/Client/preview.html">Thêm vào giỏ</a></h4>
            </div>
            <div class="clear"></div>
        </div>

    </div>
    <div class="grid_1_of_4 /Assets/Client/images_1_of_4">
        <a href="/Assets/Client/preview.html"><img src="/Assets/Client/images/catden1.jpg" alt="" /></a>
        <h2>Cát đen xây dựng </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">90000 đ/m3</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/Assets/Client/preview.html">Thêm vào giỏ</a></h4>
            </div>
            <div class="clear"></div>
        </div>

    </div>
    <div class="grid_1_of_4 /Assets/Client/images_1_of_4">
        <a href="/Assets/Client/preview.html"><img src="/Assets/Client/images/catvangbetong1.jpg" alt="" /></a>
        <h2>Cát vàng </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">160000 đ/m3</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/Assets/Client/preview.html">Thêm vào giỏ</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    
</div>
<div class="content_bottom">
    <div class="heading">
        <h3>Đá Xây Dựng</h3>
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    <div class="grid_1_of_4 /Assets/Client/images_1_of_4">
        <a href="/Assets/Client/preview.html"><img src="/Assets/Client/images/da1x2.jpg" alt="" /></a>
        <h2>Đá xây dựng 1x2 (kích cỡ 10x28mm) </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">230000 đ/m3</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/Assets/Client/preview.html">Thêm vào giỏ</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 /Assets/Client/images_1_of_4">
        <a href="/Assets/Client/preview.html"><img src="/Assets/Client/images/da3x4.png" alt="" /></a>
        <h2>Đá xây dựng 3x4 (kích cỡ 3x4cm) </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">230000 đ/m3</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/Assets/Client/preview.html">Thêm vào giỏ</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 /Assets/Client/images_1_of_4">
        <a href="/Assets/Client/preview.html"><img src="/Assets/Client/images/da4x6.jpg" alt="" /></a>
        <h2>Đá xây dựng 4x6 (kích cỡ 50mm đến 70mm) </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">200000 đ/m3</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/Assets/Client/preview.html">Thêm vào giỏ</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    
</div>
<div class="content_bottom">
    <div class="heading">
        <h3>Xi Măng</h3>
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    <div class="grid_1_of_4 /Assets/Client/images_1_of_4">
        <a href="/Assets/Client/preview.html"><img src="/Assets/Client/images/ximanghatien.jpg" alt="" /></a>
        <h2>Xi măng Hà Tiên PCB40 </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">86000 đ/bao</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/Assets/Client/preview.html">Thêm vào giỏ</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 /Assets/Client/images_1_of_4">
        <a href="/Assets/Client/preview.html"><img src="/Assets/Client/images/ximangcthanh.gif" alt="" /></a>
        <h2>Xi măng Công Thanh </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">72000 đ/bao</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/Assets/Client/preview.html">Thêm vào giỏ</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 /Assets/Client/images_1_of_4">
        <a href="/Assets/Client/preview.html"><img src="/Assets/Client/images/ximangphucson.jpg" alt="" /></a>
        <h2>Xi măng Phúc Sơn</h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">70000 đ/bao</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/Assets/Client/preview.html">Thêm vào giỏ</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 /Assets/Client/images_1_of_4">
        <a href="/Assets/Client/preview.html"><img src="/Assets/Client/images/ximangcampha.jpg" alt="" /></a>
        <h2>Xi măng Cẩm Phả </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">69000 đ/bao</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/Assets/Client/preview.html">Thêm vào giỏ</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="content_bottom">
    <div class="heading">
        <h3>Gặch Xây Dựng</h3>
    </div>
   
    <div class="clear"></div>
</div>
<div class="section group">
    <div class="grid_1_of_4 /Assets/Client/images_1_of_4">
        <a href="/Assets/Client/preview.html"><img src="/Assets/Client/images/gachnungdac.png" alt="" /></a>
        <h2>Gạch đất nung đặc kích thước 200*95*60(mm) </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">1100 đ/viên</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/Assets/Client/preview.html">Thêm vào giỏ</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 /Assets/Client/images_1_of_4">
        <a href="/Assets/Client/preview.html"><img src="/Assets/Client/images/gach2lo.png" alt="" /></a>
        <h2>Gạch đất nung 2 lỗ kích thước 210*100*60(mm) </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">1050 đ/viên</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/Assets/Client/preview.html">Thêm vào giỏ</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 /Assets/Client/images_1_of_4">
        <a href="/Assets/Client/preview.html"><img src="/Assets/Client/images/gach6lo.jpg" alt="" /></a>
        <h2>Gạch đất nung 6 lỗ kích thước 170*140*60(mm) </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">2900 đ/viên</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/Assets/Client/preview.html">Thêm vào giỏ</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    
</div>
<div class="content_bottom">
    <div class="heading">
        <h3>Sắt Thép</h3>
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    <div class="grid_1_of_4 /Assets/Client/images_1_of_4">
        <a href="/Assets/Client/preview.html"><img src="/Assets/Client/images/satphi6.jpg" alt="" /></a>
        <h2>Sắt phi 6( Hòa Phát) </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">10100 đ/kg</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/Assets/Client/preview.html">Thêm vào giỏ</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 /Assets/Client/images_1_of_4">
        <a href="/Assets/Client/preview.html"><img src="/Assets/Client/images/satphi8.png" alt="" /></a>
        <h2>Sắt phi 8( Hòa Phát) </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">10100 đ/kg</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/Assets/Client/preview.html">Thêm vào giỏ</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 /Assets/Client/images_1_of_4">
        <a href="/Assets/Client/preview.html"><img src="/Assets/Client/images/satphi10.jpg" alt="" /></a>
        <h2>Sắt phi 10( Hòa Phát) </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">58000 đ/Cây (11.7m)</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/Assets/Client/preview.html">Thêm vào giỏ</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 /Assets/Client/images_1_of_4">
        <a href="/Assets/Client/preview.html"><img src="/Assets/Client/images/satphi12.png" alt="" /></a>
        <h2>Sắt phi 12( Hòa Phát) </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">85000 đ/Cây (11.7m)</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/Assets/Client/preview.html">Thêm vào giỏ</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</div>
